package ${project.model.populatorPackageName};

import java.util.HashMap;
import java.util.Map;
import javax.sql.DataSource;
import org.ifolks.generator.components.population.datasources.InputDataSourceProvider;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.EnableAspectJAutoProxy;

@Configuration
@EnableAspectJAutoProxy
public class ApplicationConfig {
	
	@Bean
	public InputDataSourceProvider inputDataSourceProvider() {
		
		Map<String, DataSource> datasources = new HashMap<>();
		
		InputDataSourceProvider result = new InputDataSourceProvider(datasources);
		
		return result;
		
	}
}