package ${project.model.componentsPackageName};

import org.ifolks.commons.log.logger.AccessLogger;
import org.ifolks.commons.log.logger.ErrorLogger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.core.env.Environment;

import com.fasterxml.jackson.annotation.JsonInclude.Include;

import tools.jackson.databind.cfg.DateTimeFeature;
import tools.jackson.databind.json.JsonMapper;

@Configuration
public class ComponentsConfig {

	@Autowired
	private Environment env;
	
	@Bean
	public JsonMapper jsonMapper() {
		JsonMapper result = JsonMapper.builder()
			.changeDefaultPropertyInclusion(incl -> incl.withValueInclusion(Include.NON_NULL))
			.disable(DateTimeFeature.WRITE_DATES_AS_TIMESTAMPS)
			.build();
		return result;
	}
	
	@Bean
	public AccessLogger accessLogger() {
		return new AccessLogger();
	}
	
	@Bean
	public ErrorLogger errorLogger() {
		ErrorLogger result = new ErrorLogger();
		result.setPrintErrorStackInRootLogger(env.getRequiredProperty("accessLog.printErrorStack", Boolean.class));
		return result;
	}
}